<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./styles.css">
  </head>
  <body>
    <img class="logo" src="../assets/logoheader.png" width="210" />
    <div class="content">
      <div class="about">
        <h1>Qwil Messenger</h1>
        <h3>Your application is outdated please download the latest one</h3>
      </div>
      <div class="store">
        <a href="<%= macStoreUrl %>"><img src="../assets/app_store.png" width="180" /></a>
        <a href="<%= windowsStoreUrl %>"><img src="../assets/windows_store.png" width="180"></a>
      </div>
    </div>
  </body>
</html>
